/*These are the body properties*/
body {
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	line-height: 1;
}
/*These apply to the timeblocks*/
textarea {
	background: transparent;
	border: none;
	resize: none;
	color: #000000;
	border-left: 1px solid black;
	padding: 10px;
}
/*This is the header*/
.jumbotron {
	text-align: center;
	background-color: transparent;
	color: black;
	border-radius: 0;
	border-bottom: 10px solid black;
}
/*These apply to the event inputs*/
.description {
	white-space: pre-wrap;
}
/*These apply to the timeblocks*/
.time-block {
	text-align: center;
	border-radius: 15px;
}
/*These apply to the timeblock rows*/
.row {
	white-space: pre-wrap;
	height: 80px;
	border-top: 1px solid white;
}
/*These apply to the hours*/
.hour {
	background-color: #ffffff;
	color: #000000;
	border-top: 1px dashed #000000;
}
/*These apply to the timeblocks of past-time*/
.past {
	background-color: #d3d3d3;
	color: white;
}
/*These apply to the timeblocks of present-time*/
.present {
	background-color: #ff6961;
	color: white;
}
/*These apply to the timeblocks of future-time*/
.future {
	background-color: #77dd77;
	color: white;
}
/*These apply to the save button*/
.saveBtn {
	border-left: 1px solid black;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	background-color: #06aed5;
	color: white;
}
/*These apply to the save button when hovered over*/
.saveBtn i:hover {
	font-size: 20px;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}
/*These apply to the save icon*/
.fa-solid {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
